<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <ul>
          <li>Java</li>
          <li>SpringBoot</li>
          <li>Angular</li>
          <li>HTML5</li>
          <li>Javascript</li>
          <li>CSS</li>
          <li>Hibernate</li>
          <li>OpenApi / Swagger</li>
          <li>Junit</li>
          <li>Jenkins</li>
          <li>React</li>
          <li>Rest API</li>
          <li>Microservices</li>
          <li>SonarQube</li>
          <li>Maven</li>
          <li>MySQL</li>
          <li>Node</li>
          <li>Linux</li>
        </ul>
      </div>
    </div>
  </div>
</div>