<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>My Name is <strong>Suyog Bikram Malla</strong> . Software Engineer commended for contributing to innovative, groundbreaking software solutions to meet business demands and needs offering a year of service in IT industry with focus on product design and development. </p>
              
              <p>Looking for opportunities to utilize my current technical skills concurrently open to learning and developing new techniques.</p>

            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">suyog.malla153@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 (720)-383-1470</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">100 Corrina Blvd <br>Waukesha, WI 53186
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>