<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2018</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Computer Science</div>
            <h4 class="category"><i>The University of Louisiana at Monroe</i>
            </h4>
            <ul>
              <li> Received Academic Tier I Scholarship Award. </li>
              <li> Honored by the President of University for successfully completing Emerging Scholar Program.</li>
              <li> Received <b>President's List Award</b>. </li>
              <li> Received <b>Dean's List Award</b>. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>