<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/capstone.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Capstone Project - Calendar Based Web Application for Kitty Degree School of
                Nursing at ULM</h4>
              <h5 class="card-text"><b>Technology :</b> ReactJS, PHP, and MySQL </h5>
              <a href="https://github.com/ravshrestha9/Nursing-Application/tree/master"
                class="btn btn-primary stretched-link" target="_blank">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/SMA.ico" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Student Management App</h4>
              <h5 class="card-text"><b>Technology :</b>Spring framework, Spring Security, Spring MVC, Hibernate, MySQL
              </h5>
              <a href="https://github.com/Mallasb15/StudentManger-Spring-security-MVC-Hibernate-"
                class="btn btn-primary stretched-link" target="_blank"> GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <img class="card-img-top" src="assets/images/p12.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Product Application</h4>
              <h5 class="card-text"><b>Technology :</b>Angular
              </h5>
              <a href="https://github.com/Mallasb15/Product-App"
                class="btn btn-primary stretched-link" target="_blank">GithubLink</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>