<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/images/suyog.png" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Suyog Bikram Malla</div>
            <p class="category text-white">Software Engineer</p>
            <a class="btn btn-primary"
              href="https://drive.google.com/file/d/1Sn_63Az0drzmVs7S8XRTSU5DvwhlJ4Gq/" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Resume </a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">

              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/suyog-m-a74853169/"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Mallasb15"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip"
                title="Follow me on Google+">
                <i class="fa fa-google-plus"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>